DEBUG=1
SECRET_KEY=changemerightnow
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]

MYSQL_ENGINE=django.db.backends.mysql
MYSQL_HOST=db
MYSQL_PORT=3306

MYSQL_ROOT_PASSWORD=changemebutdiffrentthanmysqlpassword!
MYSQL_DATABASE=tinbox
MYSQL_USER=tinbox
MYSQL_PASSWORD=changeme

OAUTH_ENABLED=True

CSRF_TRUSTED_ORIGINS=http://localhost:8123
